body {
  background: lightpink;
  color: navy;
  font-size: 20px;
  font-family: 'Space Mono', monospace;
}
.container {
  /* border: black 1px solid; */
  background: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 300px;
  height: 300px;
}

.section {
  border: navy solid 1px;
  display: grid;
  align-items: center;
  justify-content: center;
}

.scores {
  background: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  width: 300px;
  height: 100%;
  margin-top: 50px;
}

.element {
  border: navy solid 1px;
  display: grid;
  align-items: center;
  justify-content: center;
}

p {
  font-size: 16px;
}
